<div class="app-container">
  <header *ngIf="showNav">
    <div class="nav-bar">
      <nav>
        <ul>
          <li>
            <a routerLink="/home" class="nav-logo-link" aria-label="Home">
              <img
                src="assets/images/vista-logo.png"
                alt="Vista Logo"
                class="nav-logo-image"
              />
            </a>
          </li>
          <li>
            <a routerLink="/health" routerLinkActive="active">Health Check</a>
          </li>
          <li>
            <a routerLink="/compliance" routerLinkActive="active">Compliance</a>
          </li>
        </ul>
      </nav>
      <div class="nav-actions">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- <footer
    *ngIf="showNav"
    class="mt-auto py-4 bg-white border-t border-blue-100"
  >
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-center text-sm text-gray-500">
        &copy; {{ currentYear }} Vista Platform
      </p>
    </div>
  </footer> -->
</div>
